*.gif filter=lfs diff=lfs merge=lfs -text
*Cloud[[:space:]]Computing[[:space:]]Cell[[:space:]]-[[:space:]]Google[[:space:]]Chrome[[:space:]]2023-05-05[[:space:]]20-11-43 filter=lfs diff=lfs merge=lfs -text
Cloud[[:space:]]Computing[[:space:]]Cell[[:space:]]-[[:space:]]Google[[:space:]]Chrome[[:space:]]2023-05-05[[:space:]]20-11-43 filter=lfs diff=lfs merge=lfs -text
